* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  touch-action: pan-y;

}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.node-container.isSelected {
  background: #CFE2F3;
  color: black;
  border-radius: 0;
}

